    <% postingan1="Belajar Ruby on Rails"%>
    <% postingan2="Macam Macam Bahasa Pemograman"%>  
    <div class="about-postingan">
        <h1>Ini halaman Postingan </h1>
        <%= postingan1%> <br>
        <%= postingan2%> 
    </div>


 