<%# <header>
    
    <div class="header-logo">
        <a href="/" >Websitegw</a>
    </div>

        <div class="header-menus">
            
            <li>
                <a href="/">Home</a>
            </li>

            <li>
                <a href="/artikel">Artikel</a>
            </li>

             <li>
                <a href="/about">About</a>
            </li>

        </div>

</header> %>
<div class="about-main">
<h1>Tentang websitegw</h1>
<%# <img src="/xiao.png"/> %>
</div>